<div class="h-full w-full flex flex-col bg-gray-200 dark:bg-gray-800">
  <div class="flex gap-3 p-1 px-3 bg-neutral-50 dark:bg-neutral-950 text-gray-600 dark:text-gray-400 border-b border-gray-300 dark:border-gray-600">
    <div class="font-bold text-2xl ">
      <span >Voyage</span>
    </div>
    <div class="ml-auto self-center">
      <a href="https://github.com/mschn/voyage" target="_blank">{{
        version.value()
      }}</a>
    </div>
  </div>

  <ngx-voyage
    class="flex-1 p-3"
    [path]="path()"
    [files]="files()"
    [message]="message()"
    [loading]="filesResource.isLoading()"
    (openFolder)="openFolder($event)"
    (openFile)="openFile($event)"
    (previewFile)="getFileContent($event)"
    styleClass="p-0!"
  ></ngx-voyage>
</div>
